.dialog-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99;
}

.dialog-content {
  width: 70%;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
  background-color: #ffffff;
  display: inline-block;
  padding: 1.3rem;
  border-radius: 0.2rem;
}

.dialog-headline {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0 0 1rem 0;
}

.dialog-text {
  color: rgba(0, 0, 0, 0.6);
}

.dialog-button-container {
  margin: 1.5rem 0 0 0;
  float: right;
}

.dialog-button {
  border-radius: 0.3rem;
  color: #ffffff;
  font-size: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  display: inline-block;
  margin-left: 0.5rem;
}
  
.button-ok {
  background: #43A843;
}

.button-error {
  background: #B12F2F;
}

.button-warn {
  background: #B18F2F;
}

.button-gray {
  background: #707070;
}