.player-selection {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 999;
  overflow: auto;
  padding: 5% 0;
  box-sizing: border-box;
}

@media (orientation: landscape) {
  .player-selection {
    padding: 3% 0;
  }
}

.player-selection .player.marked .player-icon {
  box-sizing: border-box;
  padding: 1%;
  background-color: #4EB4F9;
}

.player-selection .player.marked .player-icon .player-image {
  background-color: white;
}

.player-selection .player .marked-container {
  display: none;
  height: auto;
  width: 9%;
  margin: 0 0 -9% -9%;
  float: left;
  position: relative;
}

.player-selection .player.marked .marked-container {
  display: block;
}

.player-selection .player .marked-container .corner {
  width: 100%;
  height: 0;
  padding: 50% 0;
  background: linear-gradient(to top right, rgba(0,0,0,0.01) 0%, rgba(0,0,0,0.01) 50%, #4EB4F9 50%, #4EB4F9 100%);
}

.player-selection .player .marked-container .material-icons {
  position: absolute;
  top: 30%;
  right: 30%;
  transform: translate(50%, -50%);
  color: white;
  font-size: 1.3rem;
}

.player-selection .player-icon, .player-selection .letter {
  width: 24%;
  height: auto;
  float: left;
  margin: 0 0 5% 7%;
}

@media (orientation: landscape) {
  .player-selection .player-icon, .player-selection .letter {
    width: 14%;
    margin: 0 0 3% 5%;
  }

  .player-selection .player .marked-container {
    width: 6%;
    margin: 0 0 -6% -6%;
  }
}

.player-selection .player-icon .player-image, .player-selection .letter .letter-content {
  height: 0;
  padding: 50% 0;
  position: relative;
}

.player-selection .letter.gray {
  opacity: 0.2;
}

.player-selection .letter .letter-absolute {
  font-size: 24vw;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media (orientation: landscape) {
  .player-selection .letter .letter-absolute {
    font-size: 14vw;
  }
}