.player-icon {
  width: 100%;
  height: 100%;
}

.player-icon .player-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  width: 100%;
  height: 100%;
}

.player-icon .player-image .material-icons {
  font-size: 3rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}