server:
  port: 8081

spring:
  application:
    name: ranked
  datasource:
      url: jdbc:mysql://ranked_mysql:11033/ranked?useSSL=false
      username: ranked
      password: ranked
  jpa:
    generate-ddl: false
    hibernate.ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect
    show-sql: false
  flyway:
    enabled: true
    locations: "classpath:db/migrations/{vendor}"

ranked:
  scoreToWinSet: 6
  setsToWinMatch: 2
  elo:
    default: 1000
    maxDifference: 400
    factor: 20

axon:
  eventhandling:
    processors:
      Wall:
        mode: tracking
      Player:
        mode: tracking
      Team:
        mode: tracking
      PlayerLeaderBoard:
        mode: tracking
      Logging:
        mode: tracking

logging:
  level:
    com.zaxxer.hikari: WARN
    de.holisticon.ranked: TRACE
    org.springframework.web.servlet: WARN
    org.springframework.boot.web.servlet: WARN
    org.springframework.boot.actuate.endpoint.web.servlet: WARN
    org.springframework.context.support: WARN
