server:
  port: 8081

spring:
  application:
    name: ranked
  datasource:
    url: jdbc:h2:tcp://localhost:9092/mem:ranked
    username: sa
    password: sa
  jpa:
    generate-ddl: false
    hibernate.ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
    show-sql: false

ranked:
  scoreToWinSet: 6
  setsToWinMatch: 2
  elo:
    default: 1200
    maxDifference: 400
    factor: 20

swagger:
  redirect: true
  apiInfo:
    version: 1.0.0
    termsOfService: None
    lisense: Revised BSD License
    licenseUrl: https://github.com/holisticon/ranked/blob/master/LICENSE.txt
    contact:
      name: Holisticon Craftsmen
      email: jobs@holisticon.de
      url: https://www.holisticon.de
  dockets:
    Views:
      basePackage: "de.holisticon.ranked.view"
      path: "/view/**"
      apiInfo:
        title: Ranked View API
        description: View API to access different views in ranked.
    Commands:
      basePackage: "de.holisticon.ranked.command"
      path: "/command/**"
      apiInfo:
        title: Ranked Command API
        description: Command API to write to ranked.
