spring:
  datasource:
    url: jdbc:h2:tcp://localhost:9092/${ranked.h2.path}:${ranked.h2.name}
    username: sa
    password: sa
  jpa:
    generate-ddl: false
    hibernate.ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
    show-sql: false
  flyway:
      enabled: false
      locations: "classpath:db/migrations/{vendor}"

ranked:
  h2:
    name: ranked
    path: mem

---
spring:
  profiles: h2-201803281207
ranked:
  h2:
    path: ./test/h2/src/main/resources/h2/201803281207
