.goal-counter-container {
  position: absolute;
  width: 100%;
  height: calc(100% + 3rem);
  left: 0;
  top: -3rem;
}

.goal-counter {
  font-size: 7rem;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  position: absolute;
  top: 50%;
}

.position-null .goal-counter, .position-red .goal-counter {
  transform: translateY(-50%);
}

.position-blue .goal-counter {
  transform: rotate(180deg) translateY(50%);
}

.current-goals {
  display: inline-block;
  transform: rotate(90deg);
}

.flip .current-goals {
  transform: rotate(-90deg);
}