.panel {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: auto;
}

.position-blue .panel {
  left: 0;
  right: initial;
}

.panel > * {
  float: right;
}

.position-blue .panel > * {
  float: left;
}

.panel .background {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100vw;
  background-color: rgba(220, 220, 220, 0.6);
  transition: width 0s 0s, background-color 0.7s 0s;
}

.position-blue .panel .background {
  left: 0;
}

.panel.closed .background {
  width: 0;
  background-color: transparent;
  transition: width 0s 1s, background-color 0.7s 0.3s;
}

.panel .features-container {
  height: 100%;
  width: calc(98vw - 0.2rem - 1.6rem);
  transition: 1s;
  overflow: hidden;
  position: relative;
}

.panel.closed .features-container {
  width: 0;
}

.panel .features {
  position: absolute;
  height: 100%;
  width: 100vw;
  background-color: #535353;
}

.features .side-red, .features .side-blue {
  height: 50%;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.features .side-red {
  transform: rotate(180deg);
}

.features .goal-counter, .features .goal-counter {
  color: white;
}

.position-blue .panel .features {
  background-color: #4b93e2;
  left: 0;
}

.position-red .panel .features {
  background-color: #cf0017;
  right: 0;
}

.panel .edge {
  height: 100%;
  width: 0.2rem;
  background-color: #535353;
}

.position-blue .panel .edge {
  background-color: #4b93e2;
}

.position-red .panel .edge {
   background-color: #cf0017;
 }

.panel .display {
  height: 6rem;
  width: 1.6rem;
  position: relative;
  top: calc(50% - 3rem);
  color: #ffffff;
  background-color: #535353;
  border-color: #535353;
}

.panel .display::before {
  content: "";
  position: absolute;
  top: -1.6rem;
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 0 0 1.6rem 1.6rem;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: inherit;
}

.panel .display::after {
  content: "";
  position: absolute;
  bottom: -1.6rem;
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 0 1.6rem 1.6rem 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: inherit;
  border-bottom-color: transparent;
}

.panel .display .display-container {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.panel .display .display-container > * {
  transform: rotate(90deg);
}

.position-blue .panel .display {
  background-color: #4b93e2;
  border-color: #4b93e2;
}

.position-blue .panel .display::before {
  border-width: 1.6rem 0 0 1.6rem;
  border-top-color: transparent;
  border-left-color: inherit;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.position-blue .panel .display::after {
  border-width: 0 0 1.6rem 1.6rem;
  border-top-color: transparent;
  border-left-color: inherit;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.position-red .panel .display {
  background-color: #cf0017;
  border-color: #cf0017;
}

.position-blue .panel .display .display-container > * {
  transform: rotate(-90deg);
}
