.panel {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(220, 220, 220, 0.4);
    transition: width 0s 0s, background-color 0.5s 0s;
}

.panel.closed {
  width: auto;
  background-color: transparent;
}

.position-blue .panel {
  left: 0;
}

.panel > * {
  float: right;
}

.position-blue .panel > * {
  float: left;
}

.panel .features {
  height: 100%;
  width: 80vw;
  transition: 0.5s;
  background-color: #535353;
}

.panel.closed .features {
  width: 0;
}

.panel .edge {
  height: 100%;
  width: 0.2rem;
  background-color: #535353;
}

.position-blue .panel .features {
  background-color: #4b93e2;
}

.position-red .panel .features {
  background-color: #cf0017;
}

.position-blue .panel .edge {
  background-color: #4b93e2;
}

.position-red .panel .edge {
   background-color: #cf0017;
   right: 0;
 }

.panel .display {
  height: 9rem;
  width: 1.6rem;
  position: relative;
  top: calc(50% - 4.5rem);
  color: #ffffff;
  background-color: #535353;
  border-radius: 1.2rem 0 0 1.2rem;
}

.panel .display .display-container {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.panel .display .display-container > * {
  transform: rotate(90deg);
}

.position-blue .panel .display {
  background-color: #4b93e2;
  border-radius: 0 1.2rem 1.2rem 0;
}

.position-red .panel .display {
  background-color: #cf0017;
  border-radius: 1.2rem 0 0 1.2rem;
}

.position-blue .panel .display .display-container > * {
  transform: rotate(-90deg);
}
