<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  <display-name>RESTful Java Web Service</display-name>
  <!-- this tells RESTEasy to load resource classes -->
  <context-param>
    <param-name>resteasy.jndi.resources</param-name>
    <param-value>java:app/ranked-impl-1.0-SNAPSHOT/PlayerResourceImpl</param-value>
  </context-param>
  <context-param>
    <param-name>resteasy.providers</param-name>
    <param-value>de.holisticon.ranked.JacksonConfig,com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider</param-value>
  </context-param>
  <context-param>
    <param-name>resteasy.use.builtin.providers</param-name>
    <param-value>false</param-value>
  </context-param>
  <!--<listener>
    <listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
  </listener>-->
  <servlet>
    <servlet-name>Resteasy</servlet-name>
    <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resteasy</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

 <!-- <filter>
    <filter-name>CORS</filter-name>
    <filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CORS</filter-name>
    <servlet-name>Resteasy</servlet-name>
  </filter-mapping>     -->
</web-app>