.tournament-tree {
  width: 100%;
  height: 100%;
  position: relative;
  font-weight: 300;
}

.tournament-tree .background {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.tournament-tree .background > div {
  height: 50%;
  width: 100%;
  border: 0 solid white;
  box-sizing: border-box;
  opacity: 0.4;
}

.tournament-tree .background .top {
 background-color: #ffbdb8;
 border-bottom-width: 0.1rem;
}

.tournament-tree .background .bottom {
 background-color: #d7eeff;
 border-top-width: 0.1rem;
}

.tournament-tree .top, .tournament-tree .bottom, .tournament-tree .final-match {
  position: absolute;
  width: 100%;
  display: inline-block;
}

.tournament-tree .top {
  top: 0;
}

.tournament-tree .bottom {
  bottom: 0;
}

.tournament-match {
  display: inline-block;
  text-align: center;
  position: relative;
  height: 10vh;
}

.tournament-match::after {
  content: "";
  display: inline-block;
  width: 50%;
  height: 1rem;
  position: absolute;
  border: 0 solid black;
}

.tournament-tree .top .tournament-match::after {
  bottom: -2.5vh;
  border-bottom-width: 1px;
}

.tournament-tree .bottom .tournament-match::after {
  top: -2.5vh;
  border-top-width: 1px;
}

.tournament-match:nth-child(odd)::after {
  left: calc(50% - 1px);
  border-left-width: 1px;
}

.tournament-match:nth-child(even)::after {
  right: calc(50% - 1px);
  border-right-width: 1px;
}

.tournament-match::before {
  content: "";
  background-color: black;
  width: 1px;
  height: 1rem;
  display: inline-block;
  position: absolute;
}

.tournament-tree .top .tournament-match::before {
  top: -2.5vh;
}

.tournament-tree .bottom .tournament-match::before {
  bottom: -2.5vh;
}

.tournament-match .default {
  color: #CCCCCC;
  font-size: 2.5rem;
  font-style: italic;
  font-weight: 100;
}

.tournament-match .default, .tournament-match .opponents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  text-align: center;
  max-height: 100%;
}

.tournament-match .team-name {
  max-width: 100%;
  position: relative;
  height: 40%;
  padding-left: 2rem;
  display: inline-block;
}

.tournament-match .team-name.winner {
  font-weight: 700;
}


.tournament-match .team-name .image-container {
  position: absolute;
  left: 0;
  top: 50%;
  width: 2rem;
  height: 1.7rem;
  transform: translateY(-50%);
}

.tournament-match .team-name .name-container {
  word-wrap: break-word;
}

.tournament-match .separator {
  position: relative;
  padding: 0 2.2rem;
  display: inline-block;
  font-size: 0.8rem;
  margin: 0.1rem 0;
  height: 20%;
}

.tournament-match .separator::before, .tournament-match .separator::after {
  content: "";
  width: 2rem;
  height: 1px;
  background-color: black;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.tournament-match .separator::before {
  left: 0;
}

.tournament-match .separator::after {
  right: 0;
}

/* last sixteen */
.last-16 {
  width: 100%;
  height: 100%;
  position: absolute;
}

.last-16 .tournament-match {
  width: 25%;
}

.last-16 .tournament-match::before {
  content: none;
}

/* quarter finals */
.quarter-finals {
  width: 100%;
  height: 70%;
  box-sizing: border-box;
  position: absolute;
  top: 15vh;
  font-size: 1.1rem;
}

.quarter-finals .tournament-match {
  width: 50%;
}

.quarter-finals .tournament-match .separator {
  margin: 0.2rem 0;
}

/* semi finals */
.semi-finals {
  width: 100%;
  height: 40%;
  box-sizing: border-box;
  position: absolute;
  top: 30vh;
  font-size: 1.2rem;
}

.semi-finals .tournament-match {
  width: 100%;
}

.semi-finals .tournament-match::after {
  content: none;
}

.semi-finals .tournament-match .separator {
  margin: 0.3rem 0;
}

/* final match */
.final {
  width: 100%;
  height: 20%;
  box-sizing: border-box;
  position: absolute;
  top: 40vh;
  font-size: 1.3rem;
}

.final .final-match {
  height: 18vh;
  width: 45vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(ellipse closest-side, white 80%, transparent);
}

.final .tournament-match {
  width: 80%;
  height: 80%;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.final .tournament-match .opponents {
  width: 65%;
}

.final .final-match::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 5%;
  height: 80%;
  width: 5rem;
  background-image: url('/img/baywreath_left.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.final .final-match::after {
  content: "";
  display: inline-block;
  position: absolute;
  right: 0;
  top: 5%;
  height: 80%;
  width: 5rem;
  background-image: url('/img/baywreath_right.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.final .tournament-match::before, .final .tournament-match::after {
  content: none;
}

.final .tournament-match .separator {
  margin: 0.4rem 0;
}

.final .final-match .tournament-match.decided .team-name, .final .final-match .tournament-match.decided .separator {
  display: none;
  visibility: hidden;
}

.final .final-match .tournament-match.decided .team-name.winner {
  display: inline-block;
  visibility: visible;
  font-size: 150%;
}
