html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.ranked {
  height: 100vh;
  width: 100vw;
}

@media (orientation: landscape) {
  .ranked {
    height: calc(100vh - 20px); 
  }
}

.hidden {
  visibility: hidden !important;
  display: none !important;
}
