html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 18px;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.ranked {
  height: 100vh;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.hidden {
  visibility: hidden !important;
  display: none !important;
}
