.two-side-bar-entry {
  margin: 0.8rem 0;
  padding: 0 1rem;
  width: 100%;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  max-width: 1200px;
  text-align: left;
}

.two-side-bar-entry .name {
  float: left;
  width: 100%;
}

.two-side-bar-entry .negative-bar, .two-side-bar-entry .positive-bar {
  float: left;
  width: 40%;
  height: 1rem;
}

.two-side-bar-entry .negative-bar, .two-side-bar-entry .positive-bar {
  position: relative;
}

.two-side-bar-entry .bar-inner {
  height: 100%;
}

.two-side-bar-entry .negative-bar .bar-inner {
  background-color: #FF2D55;
  float: right;
}

.two-side-bar-entry .positive-bar .bar-inner {
  background-color: #4EB4F9;
  float: left;
}

.two-side-bar-entry .bar-value {
  position: absolute;
  max-width: 100%;
  box-sizing: border-box;
  display: none; /* TODO: how to fix this styling issue? */
}

.two-side-bar-entry .negative-bar .bar-value {
  right: 0;
}

.two-side-bar-entry .positive-bar .bar-value {
  left: 0;
}

.two-side-bar-entry .cumulation {
  float: right;
  width: 20%;
  text-align: right;
}
