<div class="container">
    <ul class="thumbnails">
        <li class="span2" ng-repeat="player in players">
            <a class="thumbnail"
               href="#/player/{{player.id}}">
                <img ng-src="https://wiki.holisticon.de/download/thumbnails/884740/pic_{{player.name}}_8x8.jpg" width="120" height="120" class="img-rounded" />
                <strong>{{player.name}}</strong><br/>
                ID:{{player.id}}

                <br/>
            </a>
        </li>
    </ul>
</div>
