.player-selection {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 999;
  overflow: auto;
  padding: 5% 0;
  box-sizing: border-box;
}

.player-selection .player-icon, .player-selection .letter {
  width: 24%;
  height: auto;
  float: left;
  margin: 0 0 5% 7%;
}

.player-selection .player-icon .player-image, .player-selection .letter .letter-content {
  height: 0;
  padding: 50% 0;
  position: relative;
}

.player-icon .player-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  width: 100%;
  height: 100%;
}

.player-icon .player-image .material-icons {
  font-size: 3rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.player-selection .letter.gray {
  opacity: 0.2;
}

.player-selection .letter .letter-absolute {
  font-size: 24vw;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}