.score-board {
  width: 100%;
  height: 100%;
  background-color: white;
}

.header {
  height: 8rem;
  width: 100%;
  padding-top: 1rem;
  box-sizing: border-box;
  position: fixed;
  overflow: hidden;
  z-index: 10;
}

.header .background {
  background-color: #FF2D55;
  border-radius: 0 0 50% 50%;
  position: absolute;
  top: -2rem;
  left: -1rem;
  width: calc(100% + 2rem);
  height: calc(100% + 1rem);
  z-index: -1;
  box-shadow: 0px 0.2rem 0.2rem 0px rgba(0,0,0,0.50);
}

.header .icon {
  height: 3rem;
  width: 100%;
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
}

.header .title {
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bolder;
  letter-spacing: 0.03rem;
  padding-top: 0.3rem;
  color: white;
}

.chart-container {
  padding: 8rem 0 2rem 0;
  position: relative;
  display: inline-block;
  text-align: center;
  min-height: 100vh;
}

@media (min-width: 800px) {
  .chart-container {
    column-count: 2;
    -webkit-column-count: 2;
    column-rule: 0.1rem solid rgba(0, 0, 0, 0.3);
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 1300px) {
  .chart-container {
    column-count: 3;
    -webkit-column-count: 3;
  }
}

@media (min-width: 1600px) {
  .chart-container {
    column-count: 4;
    -webkit-column-count: 4;
  }
}

.chart-container .fading-top {
  height: 5rem;
  width: 100%;
  position: fixed;
  top: 4rem;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.01) 0%, white 50%);
  z-index: 2;
}

.carousel .control-dots .dot {
  background: #FF2D55 !important;
}

.carousel .slide {
  background: white !important;
}
