.match {
  height: 100%;
  width: 100%;
  position: relative;
}

@media (orientation: landscape) {
  .match {
    height: 100vw;
    width: calc(100vh - 20px);
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: 0 0;
  }

  .match .dialog-container {
    height: 100vh;
    width: 100vw;
    transform: rotate(90deg) translateY(-100%);
    transform-origin: 0 0;
  }
}

.match .team-blue, .match .team-red {
  height: 50%;
  width: 100%;
  position: relative;
  border-top: 0.2rem solid white;
  box-sizing: border-box;
  overflow: hidden;
}

.match .team-blue {
  background-color: #d7eeff;
}

.match .team-red {
  background-color: #ffbdb8;
  transform: rotate(180deg);
}

.match .won-sets-count {
  position: absolute;
  width: 100%;
  top: 4%;
  text-align: center;
  font-size: 2rem;
}

.match .team-blue .won-sets-count {
  color: #4b93e2;
}

.match .team-red .won-sets-count {
  color: #cf0017;
}

.match .team-red .goal-counter-container, .match .team-blue .goal-counter-container {
  background-image: radial-gradient(#ffffff 0%, transparent 100%);
}

.match .team-red .goal-counter {
  color: #cf0017;
}

.match .team-blue .goal-counter {
  color: #4b93e2;
}

/** one player ui **/

/* positioning of footer */
.match .one-player-ui .add-defense, .match .one-player-ui .add-attack {
  position: absolute;
  bottom: 0.4rem;
  text-align: center;
  left: calc(50% - 2rem);
}

/* anonymous avatar */
.match .one-player-ui .add-defense .material-icons, .match .one-player-ui .add-attack .material-icons {
  opacity: 0.4;
  font-size: 4rem;
}

/* player image */
.match .one-player-ui .add-defense .player-icon, .match .one-player-ui .add-attack .player-icon {
  width: 100%;
  min-width: 4rem;
  height: 4rem;
}

/* player-name or position */
.match .one-player-ui .add-defense .name, .match .one-player-ui .add-attack .name {
  opacity: 0.4;
  display: block;
  min-height: 1.2rem;
}

.match .one-player-ui .change-positions-defense {
  position: absolute;
  bottom: 2rem;
  left: calc(75% - 1rem);
}

.match .one-player-ui .change-positions-offense {
  position: absolute;
  bottom: 2rem;
  left: calc(25% - 1rem);
}

.match .one-player-ui .change-positions-offense i , .match .one-player-ui .change-positions-defense i {
  transform: rotate(90deg);
  font-size: 2rem;
  opacity: 0.2;
}

/* two player ui */

.match .two-player-ui .add-defense, .match .two-player-ui .add-attack {
  position: absolute;
  bottom: 0.4rem;
  text-align: center;
}

.match .two-player-ui .add-defense {
  left: 10%;
}

.match .two-player-ui .add-attack {
  right: 10%;
}

.match .two-player-ui .add-defense .material-icons, .match .two-player-ui .add-attack .material-icons {
  opacity: 0.4;
  font-size: 3rem;
}

.match .two-player-ui .add-defense .player-icon, .match .two-player-ui .add-attack .player-icon {
  width: 100%;
  min-width: 4.5rem;
  height: 4.5rem;
}

.match .two-player-ui .add-defense .name, .match .two-player-ui .add-attack .name {
  opacity: 0.4;
  display: block;
  min-height: 1.2rem;
}

.match .two-player-ui .change-positions {
  position: absolute;
  bottom: 2rem;
  left: calc(50% - 1rem);
}

.match .two-player-ui .change-positions i {
  transform: rotate(90deg);
  font-size: 2rem;
  opacity: 0.2;
}


.match .add-team {
  width: 100%;
  position: absolute;
  bottom: 0.4rem;
  text-align: center;
}

.match .add-team .material-icons {
  opacity: 0.33;
  font-size: 2rem;
}

.match .add-team img {
  height: 3rem;
}

.match .add-team .team-name {
  font-size: 1.2rem;
  opacity: 0.4;
  display: block;
}

.match .team-name {
  width: 100%;
  position: absolute;
  bottom: 0.4rem;
  opacity: 0.4;
  text-align: center;
}

.setcounter {
  border-radius: 50%;
  width: 20%;
  height: 6%;
  position: absolute;
  z-index: 10;
  left: 40%;
  top: 47%;
  background: white;
}

.setcounter > div {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.position-blue .setcounter > div > span {
  transform: rotate(-90deg);
  display: inline-block;
  font-size: 3rem;
  opacity: 0.1;
}

.position-null .setcounter > div > span, .position-red .setcounter > div > span {
  transform: rotate(90deg);
  display: inline-block;
  font-size: 3rem;
  opacity: 0.1;
}
