.match {
  height: 100%;
  width: 100%;
  position: relative;
}

.match .team-blue, .match .team-red {
  height: 50%;
  width: 100%;
  position: relative;
  border-top: 0.2rem solid white;
  box-sizing: border-box;
  overflow: hidden;
}

.match .team-blue {
  background-color: #d7eeff;
}

.match .team-red {
  background-color: #ffbdb8;
  transform: rotate(180deg);
}

.match .goal-counter-container {
  position: absolute;
  width: 100%;
  height: calc(100% + 3rem);
  background-image: radial-gradient(#ffffff 0%, transparent 100%);
  left: 0;
  top: -3rem;
}

.match .goal-counter {
  font-size: 7rem;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.match .team-blue .goal-counter {
  color: #4b93e2;
}

.match .team-red .goal-counter {
  color: #cf0017;
}

.match .team-blue .current-goals {
  display: inline-block;
  transform: rotate(90deg);
}

.match .team-red .current-goals {
  display: inline-block;
  transform: rotate(-90deg);
}

.match .add-defense, .match .add-attack {
  position: absolute;
  bottom: 0.4rem;
  text-align: center;
}

.match .add-defense {
  left: 10%;
}

.match .add-attack {
  right: 10%;
}

.match .add-defense .material-icons, .match .add-attack .material-icons {
  opacity: 0.4;
  font-size: 3rem;
}

.match .add-defense .player-icon, .match .add-attack .player-icon {
  width: 100%;
  min-width: 4.5rem;
  height: 4.5rem;
}

.match .add-defense .name, .match .add-attack .name {
  opacity: 0.4;
  display: block;
}

.match .add-team {
  width: 100%;
  position: absolute;
  bottom: 0.4rem;
  text-align: center;
}

.match .add-team .material-icons {
  opacity: 0.33;
  font-size: 2rem;
}

.match .add-team .team-name {
  font-size: 1.2rem;
  opacity: 0.54;
  display: block;
}

.match .change-positions {
  position: absolute;
  bottom: 2rem;
  left: calc(50% - 1rem);
}

.match .change-positions i {
  transform: rotate(90deg);
  font-size: 2rem;
  opacity: 0.2;
}

.setcounter {
  border-radius: 50%;
  width: 20%;
  height: 6%;
  position: absolute;
  z-index: 10;
  left: 40%;
  top: 47%;
  background: white;
}

.setcounter > div {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.setcounter > div > span {
  transform: rotate(90deg);
  display: inline-block;
  font-size: 3rem;

  opacity: 0.1;
}
