.match-selection .open-match {
  padding: 1rem 2rem;
  border-bottom: 1px solid #CDCDCD;
  text-align: center;
}

.match-selection .open-match:last-child {
  border-bottom: none;
}

.match-selection .separator {
  position: relative;
  padding: 0 2.2rem;
  display: inline-block;
  font-size: 0.8rem;
  margin: 0.1rem 0;
}

.match-selection .separator::before, .match-selection .separator::after {
  content: "";
  width: 2rem;
  height: 1px;
  background-color: black;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.match-selection .separator::before {
  left: 0;
}

.match-selection .separator::after {
  right: 0;
}

.match-selection .tournament-finished {
  position: fixed;
  width: 100%;
  height: 100%;
}

.match-selection .tournament-finished .winner-container {
  height: 15rem;
  width: calc(100% - 2rem);
  position: absolute;
  top: calc(50% - 7.5rem);
  left: 1rem;
}

.match-selection .tournament-finished .winner-container::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 5%;
  height: 80%;
  width: 5rem;
  background-image: url('/img/baywreath_left.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.match-selection .tournament-finished .winner-container::after {
  content: "";
  display: inline-block;
  position: absolute;
  right: 0;
  top: 5%;
  height: 80%;
  width: 5rem;
  background-image: url('/img/baywreath_right.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.match-selection .tournament-finished .winner {
  display: inline-block;
  text-align: center;
  position: relative;
  padding-left: 4rem;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.match-selection .tournament-finished .image-container {
  position: absolute;
  left: 0;
  top: 50%;
  width: 3.5rem;
  height: 3.5rem;
  transform: translateY(-50%);
}

.match-selection .tournament-finished .name-container {
  font-size: 3rem;
}